* {
  font-size: 10px;
}
.workSpace {
  height: 668px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wholeCard {
  border: 5px blue solid;
  background-color: white;
  height: 200px;
  width: 600px;
}

.ProfilePicture {
  height: 170px;
  width: 155px;
  margin: 10px 0px 0px 5px;
  border: 3px rgb(237, 237, 11) solid;
  background-color: rgb(225, 225, 120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleArea {
  margin: 10px 0px 5px 0px;
  padding: 10px 20px;
  border: 3px rgb(208, 74, 25) solid;
  height: 60px;
  width: 390px;
}

.descriptionArea {
  margin: 15px 0px 0px 0px;
  padding: 10px 20px;
  border: 3px gray solid;
  height: 95px;
  width: 390px;
}

.col-md-8 {
  flex: 0 0 auto;
  width: 70%;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 30%;
}
